microservice-chart:
  namespace: "qi"
  nameOverride: ""
  fullnameOverride: ""
  image:
    repository: ghcr.io/pagopa/pagopa-observability-bdi
    tag: "0.9.19"
    pullPolicy: Always
  #  https://github.com/Azure/azure-functions-host/blob/dev/src/WebJobs.Script.WebHost/Controllers/HostController.cs
  livenessProbe:
    handlerType: httpGet
    httpGet:
      path: /info
      port: 8080
    initialDelaySeconds: 60
    failureThreshold: 6
    periodSeconds: 10
  readinessProbe:
    handlerType: httpGet
    httpGet:
      path: /info
      port: 8080
    initialDelaySeconds: 60
    failureThreshold: 6
    periodSeconds: 10
  deployment:
    create: true
  service:
    create: true
    type: ClusterIP
    ports:
      - 8080 #http
      - 12345 #jmx-exporter
  ingress:
    create: true
    host: "weuprod.qi.internal.platform.pagopa.it"
    path: /pagopa-qi-observabilty-bdi-service/(.*)
    servicePort: 8080
  serviceAccount:
    name: "qi-workload-identity"
  podAnnotations: {}
  podSecurityContext:
    seccompProfile:
      type: RuntimeDefault
  securityContext:
    allowPrivilegeEscalation: false
  resources:
    requests:
      memory: "400Mi"
      cpu: "0.40"
    limits:
      memory: "512Mi"
      cpu: "0.50"
  autoscaling:
    enable: true
    minReplica: 1
    maxReplica: 1
    pollingInterval: 10 # seconds
    cooldownPeriod: 50 # seconds
    triggers:
      - type: cpu
        metadata:
          # Required
          type: Utilization # Allowed types are 'Utilization' or 'AverageValue'
          value: "75"
  envConfig:
    ASPNETCORE_URLS: "http://*:8080"
    ENVIRONMENT: "prod"
    WEBSITE_SITE_NAME: "pagopaobservabilitybdi"
    FUNCTIONS_WORKER_RUNTIME: "java"
    ADX_CLUSTER_URL: "https://pagopapdataexplorer.westeurope.kusto.windows.net"
    ADX_DATABASE_NAME: "re"
    ADX_SOURCE_TABLE: "ReEvent"
    ADX_PERF_TABLE: "BDI_PERF_KPI"
    APP_INSIGHTS_API_URL: "https://api.applicationinsights.io/v1/apps/a38135b3-34a0-41ce-81b8-3a9564e8250f/query"
    APP_INSIGHTS_APP_ID: "a38135b3-34a0-41ce-81b8-3a9564e8250f"
    EVENT_HUB_NAME: "bdi-kpi-ingestion-dl"
    EVENT_HUB_NAMESPACE: "pagopa-p-itn-qi-evh.servicebus.windows.net"
    EVENT_HUB_KEY_NAME: "bdi-kpi-ingestion-dl-evt-tx"
    CLOUD_ROLE_NAME: "pagopa-p-apim West Europe"
    BETTERSTACK_API_URL: "https://uptime.betterstack.com/api/v2/monitors/2789316/sla"
    PERF-03_OPERATION_NAME: "p-node-for-psp-api-auth;rev=1 - 63b6e2daea7c4a25440fdaa6" # sendPaymentOutcomeV2
    PERF-04_OPERATION_NAME: "p-node-for-psp-api-auth;rev=1 - 63ff4f22aca2fd18dcc4a6f7" # nodoInviaFlussoRendicontazione
    PERF-05_OPERATION_NAME: "p-nodo-per-pa-api-auth;rev=1 - 63b6e2da2a92e811a8f338f8" # nodoChiediElencoFlussiRendicontazione
    PERF-06_OPERATION_NAME: "p-nodo-per-pa-api-auth;rev=1 - 63b6e2da2a92e811a8f338f9" # nodoChiediFlussoRendicontazione
    AZURE_AD_TENANT_ID: "7788edaf-0346-4068-9d79-c868aed15b3d"
    AZURE_AD_CLIENT_ID: "1e6c0b82-3e63-432d-9ad4-a443e47e1a19"
    AZURE_AD_AI_TENANT_ID: "7788edaf-0346-4068-9d79-c868aed15b3d"
    AZURE_AD_AI_CLIENT_ID: "d550bc83-2b6a-4331-b32e-308b238bba3a"
  envSecret:
    APPLICATIONINSIGHTS_CONNECTION_STRING: "ai-p-connection-string"
    AZURE_AD_CLIENT_SECRET: "azure-ad-client-secret"
    APP_INSIGHTS_API_KEY: "bdi-ai-api-key"
    EVENT_HUB_KEY: "evh-tx-bdi-kpi-key"
    BETTERSTACK_API_KEY: "betterstack-api-key"
    AZURE_AD_AI_CLIENT_SECRET: "azure-ad-ai-client-secret"
  keyvault:
    name: "pagopa-p-qi-kv"
    tenantId: "7788edaf-0346-4068-9d79-c868aed15b3d"
  nodeSelector: {}
  tolerations: []
  affinity: {}
  canaryDelivery:
    create: false
  azure:
    workloadIdentityClientId: <workload-identity-client-id-set-automatically-by-gha>
